<% content_for(:heading_text) { greet } %>

<% if @clients.any? %>
  <% @clients.each do |client| %>
    <%= render "users/profile_card", user: client %>
  <% end %>
<% end %>

<div class="container mx-auto">
  <%= render "workouts/carousel", workouts: @workouts, user: @user %>

  <%= link_to new_workout_path do %>
    <%= render(ButtonComponent.new(type: :primary, full_width: true)) { "Add Workout" } %>
  <% end %>
</div>
