<% content_for(:heading_text) { @workout.scheduled_at.to_formatted_s(:short) } %>
<% content_for(:heading_class) { "max-w-screen-md" } %>

<%= turbo_stream_from @workout %>

<div class="container mx-auto max-w-screen-md">
  <%= render @workout %>
</div>
