<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @activity_set %>

    <%= link_to "Edit this activity_set", edit_activity_set_path(@activity_set), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this activity_set", activity_set_path(@activity_set), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to activity_sets", activity_sets_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
