<% content_for(:heading_text) { @user.full_name } %>

<%= render "workouts/carousel", workouts: @workouts, user: @user %>

<div class="container mx-auto">
  <%= link_to new_workout_path(user: @user) do %>
    <%= render(ButtonComponent.new(type: :primary, full_width: true)) { "Add Workout" } %>
  <% end %>

  <div class="mt-5">
    <%= render "timeline", user: @user %>
  </div>
</div>
