<div class="mb-5 text-center">
  <%= link_to new_user_session_path do %>
    <%= polaris_button { "Sign in" } %>
  <% end %>
</div>

<div class="mb-5 text-center">
  <%= link_to new_user_registration_path do %>
    <%= polaris_button { "Sign up" } %>
  <% end %>
</div>
