<div class="mb-5 text-center">
  <%= link_to new_user_session_path do %>
    <%= render(ButtonComponent.new(type: :primary)) { "Sign in" } %>
  <% end %>
</div>

<div class="mb-5 text-center">
  <%= link_to new_user_registration_path do %>
    <%= render(ButtonComponent.new(type: :secondary)) { "Sign up" } %>
  <% end %>
</div>
