/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fonts
 */

:root {
  --p-color-bg-app: #020617 !important;
  --p-color-text: #f4f4f5 !important;
}

 .scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.auto-hide {
  animation: hide 300ms ease-in-out 3s forwards;
}

@keyframes hide {
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.glam {
  background: linear-gradient(338deg,#bf9001 0%,#ac3825 25%,#930c7d 50%,#5c289f 75%,#206ca4 100%);
}

.frost {
  border: 1px solid rgba(255, 255, 255, .15);  
  background-color: rgba(255, 255, 255, .05);  
  backdrop-filter: blur(5px);
}
