<% if params[:emoji_picker] && params[:activity] == activity.id.to_s  %>
  <div class="z-10 flex justify-center items-center absolute inset-0 bg-cyan-50 bg-opacity-70 backdrop-blur-sm">
    <div class="text-3xl text-center text-balance">
      <% Activity.emojis.keys.each do |emoji_key| %>
        <%= form_with(model: activity, url: activity_path(activity), class: "inline-block") do |form| %>
          <%= form.hidden_field :emoji, value: emoji_key %>
          <%= form.submit emoji_key_to_emoji(emoji_key), class: "p-2" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
