<%= turbo_frame_tag :suggestions do %>
  <h2 class="my-5 text-lg text-slate-400 text-center">Your most recent exercises</h2>
  <% if suggestions.any? %>
    <ul role="list" class="divide-y divide-slate-800 bg-slate-900 border border-slate-800 container mx-auto rounded">
      <% suggestions.each do |exercise| %>
        <%= render "result", workout: workout, activity: activity, exercise: exercise %>
      <% end %>
    </ul>
  <% end %>
<% end %>
