<%= turbo_frame_tag :suggestions do %>
  <h2 class="my-5 text-lg text-slate-400 text-center">Your most recent exercises</h2>
  <% if suggestions.any? %>
    <%= render CardComponent.new(padded: false) do %>
      <ul role="list" class="divide-slate-800">
        <% suggestions.each do |exercise| %>
          <%= render "result", workout: workout, activity: activity, exercise: exercise %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
