<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-5">New activity</h1>

  <%= render "search" %>
  
  <div class="text-center text-slate-400 border-b border-slate-800 pb-5">
    ... or <%= link_to "add a new exercise", new_user_exercise_path(@workout.user), class: "text-blue-500 text-center" %>
  </div>

  <%= render "results", results: @results, exercises: @exercises, workout: @workout, activity: @activity %>

  <% unless @results %>
    <%= render "suggestions", suggestions: @suggestions, workout: @workout, activity: @activity %>
  <% end %>
</div>
