<% if @current_client %>
  <div class="inset-x-0 bottom-0 sm:flex sm:justify-center sm:px-6 sm:pb-5 lg:px-8">
    <div class="pointer-events-auto flex items-center justify-between gap-x-6 bg-slate-700 px-6 py-2.5 rounded">
      <p class="text-sm leading-6 text-white">
        You are editing a workflow for <%= @current_client.full_name %>.
        <%= link_to user_path(@current_client) do %>
          <strong class="font-semibold text-blue-300">Go to client →</strong>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
